
body 
{
    background-color:gray;

}
#descriptionInput,#amountInput
{
    margin-left: 40px;
    padding-left: 40px;
    width:400px;
     height:40px;
}
ul
{
list-style-type: none;

}

li {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 30px;

}
span {
    width: 150px;
    margin-left: 10px;
   
  }
.wrapper
{
    width:500px;

}
.wrapper2{
    width:500px;
}
.wrapper,.wrapper2{
    display: inline-block;
    margin-right: 80px;
    margin-left:80px;
}
h2{
    
    display: inline-block;
    margin-left: 2%;
}
h1{
    color: #609;
    text-align: center;
}
#transaction{
    margin-left: 29%;
    padding-left: 40px;
    width:250px;
    height:40px; 
}
#btnAdd {
    background-color: #609;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 40px;
    cursor: pointer;
}
